<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="{{ page.excerpt | strip_html | truncate: 162 | smartify }}">
    <meta name="theme-color" content="#fff" media="(prefers-color-scheme: light)">
    <meta name="theme-color" content="#222" media="(prefers-color-scheme: dark)">
    <meta name="viewport" content="initial-scale=1,width=device-width">
    <title>
      {{ page.title | strip | remove: '\' | smartify }}
      /
      {{ site.title }}
    </title>
    <link rel="author" href="{% link humans.txt %}">
    <link rel="canonical" href="{{ page.url | absolute_url | remove: '/index.html' | remove: '/index' }}">
    <link rel="icon" href="{% link srv/icon.svg %}">
    <link rel="stylesheet" href="{% link srv/style.css %}">
  </head>
  <body id="home">
    <header>
      <a href="{{ '/' | relative_url }}">{% include logo.svg %}</a>
      {{ page.title | prepend: '# ' | markdownify }}
      {{ page.excerpt | markdownify }}
      <nav>
        <a href="{{ '#projects' | relative_url }}">Projects</a><br>
        <a href="{{ '#contact' | relative_url }}">Contact</a>
      </nav>
    </header>
    <main>{{ content }}</main>
    <footer>
      <a href="{{ '#home' | relative_url }}">© 2003 {{ site.title }}</a>
    </footer>
  </body>
</html>
